{% include 'admin/company_profile.html' %}

{% block styles %}
<style>
    table {

        font-family: 'Times New Roman', Times, serif;
        border-collapse: collapse;
        table-layout: fixed;
    }

    th,
    td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left !important;
        width: 200px !important;
        /* Set width for each cell */
    }

    .container {
        padding-left: 180px;
    }



    th {
        background-color: #f2f2f2;
        position: sticky;
        top: 0;
        z-index: 2;
    }





    /* Ensure the label and dropdowns are inline */
    .dropdown-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
        /* Space between label and dropdown */
    }

    .inline-container {
        display: flex;
        align-items: center;
        /* Center items vertically */
        gap: 10px;
        /* Space between label and dropdown */
        margin: 15px;
    }

    .inline-container label {
        width: 85px;
    }

    .form-select {
        margin-left: 10px;
        /* Space between label and dropdown */
        width: 50%;

    }

    /* Add scroll bar to table */
    .table-container {
        max-height: 500px;
        /* Adjust the height as needed */

        overflow-y: auto;
        overflow-x: auto;
    }
</style>
{% endblock styles %}

{% block content %}
<div class="container  mt-5">
    <div class="row">
        <div class="col-md-4">
            <h6 class="mb-4">
                Corporate Finance -
                {% if request.resolver_match.url_name == 'planning_budgeting_income_statement_table' %}
                Planning & Budgeting
                {% elif request.resolver_match.url_name == 'forecasting_income_statement_table' %}
                Forecasting
                {% endif %}
                - <b>Balance Sheet</b>
            </h6>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        
    </div>
</div>

<!-- <div class="table-container mt-5">
    <div class="table-wrapper">
        <table id="financialTable">
            <thead>
                <tr id="td1">
                    <th class="rowview">Breakdown</th>
                    <th class="rowview1">TTM</th>
                    
                    
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div> -->


<div class="container mt-4">

    <form method="POST" action="#" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="table-responsive table-container">
            <table class="table table-bordered table-wrapper">
                <thead>
                    <tr>
                        <th>Breakdown</th> 
                        <th class="rowview1">TTM {{balance_sheet.date|date:'d-m-Y'}}</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <td>Cash</td>
                        <td><input type="number" class="form-control" name="cash"></td>
                    </tr>

                    <tr>
                        <td>Cash Equivalents</td>
                        <td><input type="number" class="form-control" name="cash_equivalents"></td>
                    </tr>
                    <tr>
                        <td>Other Short Term Investments </td>
                        <td><input type="number" class="form-control" name="other_short_term_investments"></td>
                    </tr>
                    
                    <tr>
                        <td>Gross Accounts Receivable</td>
                        <td><input type="number" class="form-control" name="gross_accounts_receivable"></td>
                    </tr>
                    <tr>
                        <td>Allowance For Doubtful Accounts Receivable</td>
                        <td><input type="number" class="form-control" name="allowance_for_doubtful_accounts_receivable"></td>
                    </tr>

                    <tr>
                        <td>Other receivables</td>
                        <td><input type="number" class="form-control" name="other_receivables"></td>
                    </tr>

                    <tr>
                        <td>Raw Materials</td>
                        <td><input type="number" class="form-control" name="raw_materials"></td>
                    </tr>
                    
                    <tr>
                        <td>Work in Process</td>
                        <td><input type="number" class="form-control" name="work_in_process"></td>
                    </tr>

                    <tr>
                        <td>Finished Goods
                        </td>
                        <td><input type="number" class="form-control" name="finished_goods"></td>
                    </tr>

                    <tr>
                        <td>Hedging Assets Current
                        </td>
                        <td><input type="number" class="form-control" name="hedging_current_assets"></td>
                    </tr>
                    <tr>
                        <td>Other Current Assets
                        </td>
                        <td><input type="number" class="form-control" name="other_current_assets"></td>
                    </tr>
                    
                    <tr>
                        <td>Land And Improvements
                        </td>
                        <td><input type="number" class="form-control" name="land_and_improvements"></td>
                    </tr>
                    <tr>
                        <td>Buildings And Improvements
                        </td>
                        <td><input type="number" class="form-control" name="buildings_and_improvements"></td>
                    </tr>
                    
                    <tr>
                        <td>Machinery Furniture Equipment
                        </td>
                        <td><input type="number" class="form-control" name="machinery_furniture_equipment"></td>
                    </tr>

                    <tr>
                        <td>Other Properties
                        </td>
                        <td><input type="number" class="form-control" name="other_properties"></td>
                    </tr>
                    
                    <tr>
                        <td>Leases</td>
                        <td><input type="number" class="form-control" name="leases"></td>
                    </tr>

                    <tr>
                        <td>Accumulated Depreciation</td>
                        <td><input type="number" class="form-control" name="accumulated_depreciation"></td>
                    </tr>

                    <tr>
                        <td>Goodwill</td>
                        <td><input type="number" class="form-control" name="goodwill"></td>
                    </tr>
                    <tr>
                        <td>Other Intangible Assets</td>
                        <td><input type="number" class="form-control" name="other_intangible_assets"></td>
                    </tr>
                    
                    <tr>
                        <td>Long Term Equity Investment</td>
                        <td><input type="number" class="form-control" name="long_term_equity_investment"></td>
                    </tr>
                    <tr>
                        <td>Other Non Current Assets</td>
                        <td><input type="number" class="form-control" name="other_non_current_assets"></td>
                    </tr>
                    
                    <tr>
                        <td>Accounts Payable
                        </td>
                        <td><input type="number" class="form-control" name="accounts_payable"></td>
                    </tr>

                    <tr>
                        <td>Income Tax Payable
                        </td>
                        <td><input type="number" class="form-control" name="income_tax_payable"></td>
                    </tr>
                    
                    <tr>
                        <td>Pension & Other Post Retirement Benefit Plans Current
                        </td>
                        <td><input type="number" class="form-control" name="pension_and_other_post_retirement_benefit_plans_current"></td>
                    </tr>

                    <tr>
                        <td>Current Debt
                        </td>
                        <td><input type="number" class="form-control" name="current_debt"></td>
                    </tr>


                    <tr>
                        <td>Capital Lease Obligation
                        </td>
                        <td><input type="number" class="form-control" name="capital_lease_obligation"></td>
                    </tr>

                    <tr>
                        <td>Current Deferred Revenue
                        </td>
                        <td><input type="number" class="form-control" name="current_deferred_revenue"></td>
                    </tr>

                    <tr>
                        <td>Other Current Liabilities
                        </td>
                        <td><input type="number" class="form-control" name="other_current_liabilities"></td>
                    </tr>

                    <tr>
                        <td>Long Term Debt
                        </td>
                        <td><input type="number" class="form-control" name="long_term_debt"></td>
                    </tr>

                    <tr>
                        <td>Long Term Capital Lease Obligation
                        </td>
                        <td><input type="number" class="form-control" name="long_term_capital_lease_obligation"></td>
                    </tr>

                    <tr>
                        <td>Non Current Deferred Taxes Liabilities
                        </td>
                        <td><input type="number" class="form-control" name="non_current_deferred_taxes_liabilities"></td>
                    </tr>

                    <tr>
                        <td>Non Current Deferred Revenue
                        </td>
                        <td><input type="number" class="form-control" name="non_current_deferred_revenue"></td>
                    </tr>

                    <tr>
                        <td>Trade and Other Payables Non Current
                        </td>
                        <td><input type="number" class="form-control" name="trade_and_other_payables_non_current"></td>
                    </tr>

                    <tr>
                        <td>Other Non Current Liabilities
                        </td>
                        <td><input type="number" class="form-control" name="other_non_current_liabilities"></td>
                    </tr>

                    

                    <tr>
                        <td>Common Stock
                        </td>
                        <td><input type="number" class="form-control" name="common_stock"></td>
                    </tr>

                    <tr>
                        <td>Retained Earnings
                        </td>
                        <td><input type="number" class="form-control" name="retained_earnings"></td>
                    </tr>

                    <tr>
                        <td>Gains/ (Losses) Not Affecting Retained Earnings</td>
                        <td><input type="number" class="form-control" name="gains_or_losses_not_affecting_retained_earnings"></td>
                    </tr>

                    <tr>
                        <td>Other Equity Adjustments</td>
                        <td><input type="number" class="form-control" name="other_equity_adjustments"></td>
                    </tr>
                   

                   

                
                </tbody>
            </table>
        </div>


        <!-- Button to Add More Advisors -->
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary" id="submit_income_statement">Submit</button>
            </div>
        </div>

    </form>
</div>




{% endblock content %}