{% include 'admin/company_profile.html' %}

{% block styles %}
<style>
   

    .content {
        margin: 40px auto;
        padding-top: 30px;
        padding-left: 200px;
        width: calc(100% - 200px);
    }

    .table-container {
        padding-left: 280px;
        max-width: 100%;
        /* Ensure it fits within the viewport */
        position: relative;
        height: calc(100vh - 200px);
        /* Adjust the height to fit the viewport */
    }

    .table-wrapper {
        overflow-y: auto;
        /* Enable vertical scroll */
        max-height: 100%;
        /* Ensure it takes the full height of the container */
    }

    table {
        width: 100%;
        font-family: 'Times New Roman', Times, serif;
        border-collapse: collapse;
        table-layout: fixed;
        /* Ensures table width is respected */
    }

    th,
    td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left !important;
    }

    .container {
        padding-left: 180px;
    }

    td {
        text-align: right;
    }

    th {
        background-color: #f2f2f2;
        position: sticky;
        top: 0;
        z-index: 2;
        /* Ensure headers stay above table content */
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    tr:hover {
        background-color: #f1f1f1;
    }

    .rowview {
        width: 35%;
    }

    .rowview1 {
        width: 10%;
    }

    .btn-plus {
        font-size: 24px;
        color: #007bff;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .btn-plus:hover {
        color: #0056b3;
    }
</style>
{% endblock styles %}

{% block content %}



    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <h6 class="mb-4">
                    Corporate Finance -
                    {% if request.resolver_match.url_name == 'planning_budgeting_income_statement_table' %}
                    Planning & Budgeting
                    {% elif request.resolver_match.url_name == 'forecasting_income_statement_table' %}
                    Forecasting
                    {% endif %}
                    - <b>Income Statement</b>
                </h6>
            </div>
            <div class="col-md-4">
                <!-- <div class="d-flex">
                <label for="user_type">Past Statements</label>
                <select class="form-select w-50" id="user_type" name="user_type" required>
                    <option value="">Select</option>
                    {% for year in last_seven_years_labels %}
                    <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </div> -->
            </div>
            <!-- <div class="col-md-4 text-center">
                {% if request.resolver_match.url_name == 'planning_budgeting_income_statement_table' %}
                <a href="{% url 'income_statement' company.company_id %}" class="btn-plus"> <i class="fas fa-plus"></i></a>
                {% endif %}
            </div> -->


            <div class="col-md-4">
                
                   <a href="#"> <i class="fas fa-plus" data-bs-toggle="modal" data-bs-target="#income_statement"></i></a>
               
                <!-- The Modal -->
                <div class="modal" id="income_statement">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title"></h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body text-center">
                                <form method="POST" action="#" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <!-- <div class="mb-3 mt-3 inline">
                                        <label for="business_plan">Business Plan</label>
                                        <input type="file" class="w-50" name="business_plan" required>
                                    </div> -->

                                    <div class="inline">

                                        <div style="margin-right:15px;">
                                            <input type="radio" class="form-check-input" id="monthly" name="select_type_of_data" value="monthly">
                                            <label class="form-check-label" for="monthly">Monthly</label>
                                        </div>
    
                                        <div style="margin-right:15px;">
                                            <input type="radio" class="form-check-input" id="quarterly" name="select_type_of_data" value="quarterly">
                                            <label class="form-check-label" for="quarterly">Quarterly</label>
                                        </div>
    
                                        <div>
                                            <input type="radio" class="form-check-input" id="yearly" name="select_type_of_data" value="yearly">
                                            <label class="form-check-label" for="yearly">Yearly</label>
                                        </div>
                                    </div>






                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-container mt-5">
        <div class="table-wrapper">
            <table id="financialTable">
                <thead>
                    <tr id="td1">
                        <th class="rowview">Breakdown</th>
                        <th class="rowview1">TTM</th>
                        <th class="rowview1">6/30/2022</th>
                        <th class="rowview1">6/30/2021</th>
                        <th class="rowview1">6/30/2020</th>
                        <th class="rowview1">6/30/2019</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Data will be inserted here  -->
                </tbody>
            </table>
        </div>
    </div>


<script>
    const data = {
        "Total Revenue": [236584000, 211915000, 198270000, 168088000, 143015000],
        "Cost of Revenue": [71225000, 65863000, 62650000, 52232000, 46078000],
        "Gross Profit": [165359000, 146052000, 135620000, 115856000, 96937000],
        "Operating Expense": [59597000, 57529000, 52237000, 45940000, 43978000],
        "Selling, General and Administrative Expense": [105762000, 88523000, 83383000, 69916000, 52959000],
        "General & Administrative Expenses": [708000, 1026000, 31000, -215000, 89000],
        "Selling and Marketing Expense": [-1206000, -238000, 302000, 1401000, -12000],
        "Research and Development Expense": [105264000, 89311000, 83716000, 71102000, 53036000],
        "Operating Income": [19083000, 16950000, 10978000, 9831000, 8755000],
        "Net Non Operating Interest Income/ (Expense)": [86181000, 72361000, 72738000, 61271000, 44281000],
        "Interest Income Non Operating": [86181000, 72361000, 72738000, 61271000, 44281000],
        "Interest Expense Non Operating": [11.60, 9.72, 9.70, 8.12, 5.82],
        "Other Income/(Expense)": [11.54, 9.68, 9.65, 8.05, 5.76],
        "Gain/(Loss) on Sale of Security": [7431750, 7446000, 7496000, 7547000, 7610000],
        "Special Income/(Charges)": [7466750, 7472000, 7540000, 7608000, 7683000],
        "Write Off": [105762000, 88523000, 83383000, 69916000, 52959000],
        "Other Non Operating Income/ (Expenses)": [130822000, 123392000, 114887000, 98172000, 90056000],
        "Pretax Income": [86181000, 72361000, 72738000, 61271000, 44281000],
        "Tax Provision": [86470005.67, 72373150, 72447420, 60148160.80, 44257760],
        "Net Income": [3424000, 2994000, 2094000, 2131000, 2680000],
        "Preference Share Dividends": [2716000, 1968000, 2063000, 2346000, 2591000],
        "Net Income to Common Stockholders": [708000, 1026000, 31000, -215000, 89000],
        "Equity Share Dividends": [107980000, 91279000, 85779000, 73448000, 55627000],
        "Retained Earnings": [127761000, 105140000, 100239000, 85134000, 68423000],
        "Basic EPS": [71225000, 65863000, 62650000, 52232000, 46078000],
        "Diluted EPS": [19781000, 13861000, 14460000, 11686000, 12796000],
        "Depreciation and Amortization": [86181000, 72361000, 72738000, 61271000, 44281000],
        "EBITDA": [-353000, -15000, 334000, 1303000, 28000],
    };

    const tbody = document.querySelector("#financialTable tbody");

    for (let key in data) {
        let row = document.createElement("tr");
        let cell = document.createElement("td");
        cell.textContent = key;
        row.appendChild(cell);

        data[key].forEach(value => {
            let cell = document.createElement("td");
            cell.textContent = value.toLocaleString('en-US');
            row.appendChild(cell);
        });

        tbody.appendChild(row);
    }
</script>
{% endblock content %}